<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookmanageapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookManageApp">
        <activity android:name=".OpeningActivity"
            android:theme="@style/Theme.BookManageApp.NoActionBar"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminMessage"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AdminAddUser"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AdminUpdate"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AdminDeleteAccount"
            android:exported="false"
            android:label="Delete Account"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AdminViewAccount"
            android:exported="false"
            android:label="View Account"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ReadingHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BorrowBookInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BasementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>